# Configuración Jira -> Discord
CLAVESECRETA_WEBHOOK_JIRA=
DISCORD_WEBHOOK_URL=tu_webhook_de_jira_discord

# Configuración GitHub -> Discord
GITHUB_TOKEN=tu_personal_access_token
GITHUB_ORG=HectorOrantes-dev
GITHUB_WEBHOOK_SECRET_BOT=
GITHUB_WEBHOOK_SECRET_PROV_BACK=
GITHUB_WEBHOOK_SECRET_PROV_FRONT=
GITHUB_WEBHOOK_SECRET_BACKEND=
GITHUB_WEBHOOK_SECRET_APP=
DISCORD_GITHUB_WEBHOOK_URL=tu_nuevo_webhook_exclusivo_de_github
