# Configuración Jira -> Discord
CLAVESECRETA_WEBHOOK_JIRA=
DISCORD_WEBHOOK_URL=tu_webhook_de_jira_discord

# Configuración GitHub -> Discord
GITHUB_TOKEN=tu_personal_access_token
GITHUB_REPO=usuario/repositorio
GITHUB_WEBHOOK_SECRET=
DISCORD_GITHUB_WEBHOOK_URL=tu_nuevo_webhook_exclusivo_de_github
